@{
    ViewBag.Title = "Task";
}

<h2>Kullanılan Teknoloji ve Kütüphaneler</h2>
<h3>ASP.Net MVC</h3>
<h3>Code-first</h3>
<h3>EntityFramework 6.2.0.</h3>
<h3>Identity 2.2.2.</h3>
<h3>Bootstrap 3.4.1.</h3>
<h3>jQuery 3.3.1.</h3>